body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.apptitle {
    height: 100px;
    width: 100%;
    background-color: #86a3eb;
    font-size: 3.5rem;
    font-weight: bold;
    color: aliceblue;
    padding: 10px;
}

.next-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
}

.next-service-form {
    background-color: #5FBDFF;
    border: solid 1px ;
    border-color: blue;
    padding: 1.5% 3%;
}

.confirm-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}


.item-price, .about-me {
    font-size: 1.5rem;
}

.total-price {
    font-weight: bold;
    background-color: #1EB2A6;
    border: solid 1px ;
    border-color: green;
    padding: 1.5% 3%;
}

.confirm-item {
    background-color: #5FBDFF;
    border: solid 1px ;
    border-color: blue;
    padding: 1.5% 3%;
}


.confirm-item p {
    margin: 0;
}

.table {
    background-color: #FFF0CE;
}

.table-header {
    background-color: #E1C78F;
}

@media (max-width: 1200px) {
    .table {
        font-size: 0.8rem;
    }
}

@media (max-width: 1000px) {
    .table {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px){
    .apptitle {
        font-size: 2.5rem;
    }

    .next-service, .item-price, .about-me {
        font-size: 1rem;
    }

    .table {
        font-size: 0.6rem;
    }

}