{% extends "layout.html" %}

{% block title %}
    Previous Service Record
{% endblock %}

{% block main %}
<p>testing</p>
<!-- <table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in onhandstocks %}
        <tr>
          <th scope="row">{{ stock["symbol"] }}</th>
          <td>{{ stock["name"] }}</td>
          <td>{{ stock["shares"] }}</td>
          <td>{{ stock["price"] }}</td>
          <td>{{ stock["total"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% endblock %}