{% extends "layout.html" %}

{% block title %}
    Previous Service Record
{% endblock %}

{% block main %}
<h2>Previous Service Record</h2>
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">N</th>
          <th scope="col">Date & Time</th>
          <th scope="col">Engine Oil</th>
          <th scope="col">Engine Oil Filter</th>
          <th scope="col">Drain Plug Gasket</th>
          <th scope="col">Spark Plug</th>
          <th scope="col">Air Filter</th>
          <th scope="col">Radiator Coolant</th>
          <th scope="col">Brake Fluid</th>
          <th scope="col">Fuel Filter</th>
          <th scope="col">Transmission Oil (CVT)</th>
          <th scope="col">Transmission Oil Filter</th>
          <th scope="col">Gasket Oil Pan</th>
          <th scope="col">Drain Plug</th>
          <th scope="col">Timing Belt Kit</th>
          <th scope="col">FEAD Belt</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>n/a</td>
        <td>yes</td>
        <td>yes</td>
        <td>yes</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
        {% for history in histories[1:]:  %}
        <tr>
          <td>{{ history.n }}</td>
          <td>{{ history.datetime }}</td>
          <td>{{ history.engine_oil }}</td>
          <td>{{ history.engine_oil_filter }}</td>
          <td>{{ history.drain_plug_gasket }}</td>
          <td>{{ history.spark_plug }}</td>
          <td>{{ history.air_filter }}</td>
          <td>{{ history.radiator_coolant }}</td>
          <td>{{ history.brake_fluid }}</td>
          <td>{{ history.fuel_filter }}</td>
          <td>{{ history.transmission_oil_cvt }}</td>
          <td>{{ history.transmission_oil_filter }}</td>
          <td>{{ history.gasket_oil_pan }}</td>
          <td>{{ history.drain_plug }}</td>
          <td>{{ history.timing_belt_kit }}</td>
          <td>{{ history.fead_belt }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}