{% extends "layout.html" %}

{% block title %}
    Next Service
{% endblock %}

{% block main %}
<h2>Next Service</h2>
<form action="/next_service" method="post">
    <input type="checkbox" id="engine_oil" name="engine_oil" value="engine_oil" {{ servicedict.engine_oil }}>
    <label for="engine_oil"> Engine Oil</label><br>
    <input type="checkbox" id="engine_oil_filter" name="engine_oil_filter" value="engine_oil_filter" {{ servicedict.engine_oil_filter }}>
    <label for="engine_oil_filter"> Engine Oil Filter</label><br>
    <input type="checkbox" id="drain_plug_gasket" name="drain_plug_gasket" value="drain_plug_gasket" {{ servicedict.drain_plug_gasket }}>
    <label for="drain_plug_gasket"> Drain Plug Gasket</label><br>
    <input type="checkbox" id="spark_plug" name="spark_plug" value="spark_plug" {{ servicedict.spark_plug }}>
    <label for="spark_plug"> Spark Plug</label><br>
    <input type="checkbox" id="air_filter" name="air_filter" value="air_filter" {{ servicedict.air_filter }}>
    <label for="air_filter"> Air Filter</label><br>
    <input type="checkbox" id="radiator_coolant" name="radiator_coolant" value="radiator_coolant" {{ servicedict.radiator_coolant }}>
    <label for="radiator_coolant"> Radiator Coolant</label><br>
    <input type="checkbox" id="brake_fluid" name="brake_fluid" value="brake_fluid" {{ servicedict.brake_fluid }}>
    <label for="brake_fluid"> Brake Fluid</label><br>
    <input type="checkbox" id="fuel_filter" name="fuel_filter" value="fuel_filter" {{ servicedict.fuel_filter }}>
    <label for="fuel_filter"> fuel filter</label><br>
    <input type="checkbox" id="transmission_oil_cvt" name="transmission_oil_cvt" value="transmission_oil_cvt" {{ servicedict.transmission_oil_cvt }}>
    <label for="transmission_oil_cvt"> Transmission Oil CVT</label><br>
    <input type="checkbox" id="transmission_oil_filter" name="transmission_oil_filter" value="transmission_oil_filter" {{ servicedict.transmission_oil_filter }}>
    <label for="transmission_oil_filter"> Transmission Oil Filter</label><br>
    <input type="checkbox" id="gasket_oil_pan" name="gasket_oil_pan" value="gasket_oil_pan" {{ servicedict.gasket_oil_pan }}>
    <label for="gasket_oil_pan"> Gasket Oil Pan</label><br>
    <input type="checkbox" id="drain_plug" name="drain_plug" value="drain_plug" {{ servicedict.drain_plug }}>
    <label for="drain_plug"> Drain Plug</label><br>
    <input type="checkbox" id="timing_belt_kit" name="timing_belt_kit" value="timing_belt_kit" {{ servicedict.timing_belt_kit }}>
    <label for="timing_belt_kit"> Timing Belt Kit</label><br>
    <input type="checkbox" id="fead_belt_kit" name="fead_belt_kit" value="fead_belt_kit" {{ servicedict.fead_belt_kit }}>
    <label for="fead_belt_kit"> FEAD Belt Kit</label><br>
    <input type="submit" value="Submit">
  </form> 

{% endblock %}